<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<h1>This is the answer</h1>
<%= @answer %>
<!-- # <%=  %> pe -->
<!-- # <%  %> er -->
<%= link_to 'Do you have another question?', ask_path %>
